#wrapper {
    border-spacing: 50px;
}

.row {
    display: table;
}

.row > div {
    width: 300px;
    height: 400px;
    display: table-cell;
    padding: 20px;
    text-align: center;
}

.row > div > img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.row:nth-child(1) > div:nth-child(1) {
    background-image: linear-gradient(to bottom left, orange, blue, yellow, green);
}

.row:nth-child(1) > div:nth-child(2) {
    background-color: #eee;
    background-image:
            linear-gradient(45deg, green 15%, transparent 25%, transparent 75%, orange 65%, blue),
            linear-gradient(45deg, yellow 20%, transparent 25%, transparent 75%, purple 75%, orange);
    background-position: 0 0, 57px 57px;
    background-size: 114px 114px;
}

.row:nth-child(1) > div:nth-child(3) {
    background-image: repeating-linear-gradient(to right,
    green, white 17%,
    blue 17%, yellow 34%
    );
}

.row:nth-child(2) > div:nth-child(1) {
    background-image:
            linear-gradient(-45deg, yellow 35%, transparent 35%),
            linear-gradient(45deg, green 25%, transparent 25%),
            radial-gradient(circle at bottom, white, transparent 100%),
            linear-gradient(to left, blue, orange);
}

.row:nth-child(2) > div:nth-child(2) {
    background:
            repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 40px, rgba(255, 153, 0, 0.5) 80px,
            rgba(255, 255, 0, 0.5) 120px, rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
            rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px, rgba(255, 0, 0, 0.5) 300px),
            repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px, rgba(255, 153, 0, 0.5) 60px,
            rgba(255, 255, 0, 0.5) 90px, rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
            rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px, rgba(255, 0, 0, 0.5) 230px),
            repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green 200px, blue 250px, indigo 300px, violet 350px, red 370px);
}