a {
    color: purple;
}

.group {
    color: green;
}

.square {
    list-style-type: square;
}

.check {
    list-style-image: url('li.svg');
}

ul li ul {
    list-style: none;
}

.no-underline a {
    text-decoration: none;
}

