.text-background span {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

div .text-background span {
    background-color: yellow;
}

span span {
    background-color: gray;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px red;
    text-indent: 50px;
}

li > ul {
    list-style-image: url("../3/li.svg");
}

div > .text-background {
    word-spacing: 50px;
}

.bold > p {
    font-weight: bold;
}

.bold > section > p {
    line-height: 45px;
}

img + p {
    background-color: brown;
}

section ~ p {
    color: red;
}